  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
  <div class="container home-cont" >
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <%# username %>
          <div class="col-12 home-text ">
            <p class="text-left">Name</p>
          </div>
          <div class="col-12 home-text">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <%# Name %>
          <div class="col-12 home-text">
            <p class="text-left">Username</p>
          </div>
          <div class="col-12 home-text">
            <p class="text-left"><%= current_user.username %></p>
          </div>
          <%# Email %>
          <div class="col-12 home-text">
            <p class="text-left">Email</p>
          </div>
          <div class="col-12 home-text">
            <p class="text-left"><%= current_user.email%></p>
          </div>
        </div>  
      </div>
      <div class="col-xs-12 col-md-6 justify-content-center ">
        <%= image_tag avatar_image, size:'200x200', class: 'rounded-circle mx-auto d-block' %>
        <div class="post_link col-3">
        <p class="txt_post">POSTS</p>
        <%=link_to "Post Feed",  posts_path(), class:"link_post"%>
        </div>
      </div>
    </div>

  </div>
<% else %>
  
<% end %>