  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <%# username %>
          <div class="col-12 ">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <div class="col-12">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <%# Name %>
          <div class="col-12">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <div class="col-12">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <%# Email %>
          <div class="col-12">
            <p class="text-left"><%= current_user.name %></p>
          </div>
          <div class="col-12">
            <p class="text-left"><%= current_user.name %></p>
          </div>
      </div>
      <div class="col-xs-12 col-md-6">
      
      </div>
    </div>

  </div>
<% else %>
  
<% end %>