
<div class="back_set">
  <div><h2>Edit <%= resource_name.to_s.humanize %></h2></div> <div class="back"><h2><%= link_to "Back", :back %></h2></div>
</div>
<br>
<p class="text-center h4 text-white" >(leave blank if you don't want to change it)</p><br />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
     <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "New Email" %>
    </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
 <div class="field">
    <%= f.text_field :username, autofocus: true,placeholder: " New UserName" %>
  </div>
 <div class="field"> 
    <%= f.text_field :name, autofocus: true,placeholder: " New Name" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " New Password" %>
    <% if @minimum_password_length %>
      <br />
      <div  class="text-center h6 text-light"><%= @minimum_password_length %> characters minimum</div>
    <% end %>
  </div>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "new-password", placeholder: "Confirm New Password" %>
  </div>
  <br/>  
    <p class="text-center h6 text-light">we need your current password to confirm your changes</p>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "old Password"%>
  </div>
 
  <div class="actions text-center">
   <div class="field" >
    <%= f.file_field :avatar %>
  </div>
    <%= f.submit "Update" %>
  </div>
<% end %>
<br>
<div class="actions text-center unhappy"> <i class="text-muted">Unhappy?</i> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
<%= render "layouts/animation" %>
