<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class=" col-12 field-posts desc ">
    <%= form.text_field :description, autofocus: true, autocomplete: "description", placeholder: "Description" %>
  </div>
  <div class="container-fluid">
  <div class="row">
  <div class=" col-4 field-posts category text-center">
        <%= form.select :category, options_for_select(['Animation','Game Development','Filmmaking','Web Development','Music','Writing','Drawing','Graphic Design','3D Modeling','Programming','Robotics','Motion Graphics','Photography','New Media'],:disabled => ["Select One"]), :class => 'genForm_dropBox'  %>
  </div>
    <div class=" col-8 field-posts media text-center">
    <%= form.text_field :media, autocomplete: "media", placeholder: "Media URL"  %>

  </div>
  </div>
  </div>  
  <div class="col-2 field-posts new-subm">
  <%= form.submit %>
</div>
<% end %>
