<p id="notice"><%= notice %></p>
 


<div class="container">
  <div class="row new-post">
      <%= link_to 'New Post', new_post_path %>
  </div>
  <div class="row ">
    <div class="col-md-12 col-sm-12 post-feed" >
    <% @posts.each do |post| %>
    <%post.votes=post.get_downvotes.size-post.get_upvotes.size %>
        <div class="row post">
            <div class="col-md-2 upvote   d-none d-xs-none d-md-block" >
                <%= link_to '' , up_post_path(post),method: :put,class:"col-12 justify-self-center upvote-icon "%>
                  <i class="fas vote-icon fa-arrow-up"   ></i>
                <p class="font-weight-bold upvote-num"> <%=post.votes%></p>
                <%= link_to '' , down_post_path(post),method: :put,class:"col-12 justify-self-center downvote-icon "%>
                  <i class="fas  vote-icon fa-arrow-down"  ></i>
            </div>

            <div class="col-md-9 col-sm-12  post-content" >
              <div class="row post-top">
                <div class="col-sm-12">
                  <p class="post-title float-left"><%= User.find(post.user_id).username%></p>
                  <p class="post-title float-right" ><%=post.category%></p>
                </div>

              </div>
            <div class="row post-box">
            <%if post.media=='' %>
            <div class="col-sm-12 post-text" >
              <p><%=post.description%></p>
            </div>
            <% else %>
            <div class="col-sm-5 post-image " >
              <iframe src="<%=post.media%>"></iframe>
            </div>
            <div class="col-sm-7 post-text" >
              <p><%= post.description%></p>
            </div>
            <% end %>
          </div>
          <div class="row post-bottom ">
            <div class="col-sm-12 post-bottom-cont"> 
            <%= link_to 'Show', post %>
            <% if post.user_id==current_user.id %> 
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
          </div>
        </div>
        </div>
        
       
       
    
    <% end %>
    </div>
    </div>
</div>