<p id="notice"><%= notice %></p>
<%# @post.description %>
<div class="container">
    <div class="row post">
    <div class="col-md-12 col-sm-12  post-content show-content" >
      <div class="row post-top">
        <div class="col-sm-12">
          <p class="post-title float-left"><%=@post.user_id%></p>
          <p class="post-title float-right" ><%=@post.category%></p>
        </div>
      </div>
      <div class="row post-box">
        <div class="col-sm-12 post-text" >
          <p><%=@post.description%></p>
        </div>
      </div>
      <div class="row post-bottom ">
        <div class="col-sm-12 post-bottom-cont"> 
            <p> like commnets and else </p>
        </div>
      </div>
    </div>
    </div>
</div>
<%= link_to 'Edit', edit_post_path(@post),class:"show-btn col-2 " %> 
<%= link_to 'Back', posts_path ,class:"back-btn col-2 "%>
