<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <h1><a class="navbar-brand" href="<%= root_path %>">Tumo Blog</a></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav navb">
      <% if user_signed_in? %>
      <li class="dropdown profileIcon">
      <%= image_tag currentuser_image, size:'25x25', class: 'rounded-circle mx-auto d-block' %> 
        <ul>
          <li class="navbar-text"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class="navbar-text">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <li class="navbar-text"><a href="<%= static_pages_help_path %>">Help</a></li>
        </ul>
      </li>
      <% else %>
      <li class="navbar-text"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
      <li class="navbar-text"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <li class="navbar-text"><a class="navbar-brand" href="<%= static_pages_help_path %>"><i class="fas fa-question-circle"></i></a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% if user_signed_in? %>
<nav class="secondaryMenu navbar-expand-lg">
    <ul class="navbar-nav">
      <li class="navbar-text"> <i class="fas fa-angle-double-up"></i> <%= link_to "Your Posts", yposts_path()  %></li>
      <li class="navbar-text"> <i class="fas fa-certificate"></i> <%= link_to "New", posts_path()  %> </li>

    </ul>
  </div>
</nav>
<% end %>